* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 100px 200px;
  position: relative;
  color: #444;
}

div {
  text-align: center;
  margin: 10px;
}

button {
  padding: 4px;
  border: 1px #444 solid;
  border-radius: 4px;
  cursor: pointer;
}
